body {
    background-color: #121212;
    color: whitesmoke;
    --border-color: rgb(222, 219, 255);
}

table {
    border: 2px solid var(--border-color);
}

th {
    border: 1px solid var(--border-color);
}

td { 
    border: 1px solid var(--border-color);
}